# Node.js dependencies
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
build/

# Environment variables
.env

# Mac system files
.DS_Store

# Editor folders/files
.vscode/
.idea/
